body {
    background-image: url('appliances.jpg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-repeat: no-repeat; /* Prevents background image from repeating */
}

.login-container {
    background: rgba(255, 255, 255, 0.8); /* Adds a semi-transparent white background to the login container */
    padding: 30px;
    border-radius: 15px;
    border: 2px solid #ccc;
    width: 500px; /* Adjust width to desired size */
}

.logo {
    max-width: 100px; /* Adjust maximum width of the logo */
    margin-bottom: 20px; /* Adds space below the logo */
}

.error {
    background: #f2dede;
    color: #a94442;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto;
    width: 95%;
}

/* Define other styles as per your requirements */
